@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\000037}}
#iplocator p {
  margin: 0;
  padding: 0;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000313}}
#modallocator {
  position: fixed;
  background: #fff;
  z-index: 500;
  padding: 15px;
  width: 60%;
  left: 20%;
  top: 17%;
  -webkit-box-shadow: inset 0 0 0 5px #d7deeb, 0 0 25px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 0 5px #d7deeb, 0 0 25px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 5px #d7deeb, 0 0 25px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000324}}
  #modallocator .iplocbuttom {
    text-align: center;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000328}}
  #modallocator .clearip {
    clear: both; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000331}}
  #modallocator form {
    margin-top: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000334}}
    #modallocator form a#redirectcancel {
      color: #fff;
      background: #b5c2da;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      padding: 5px 10px;
      font-size: 13px;
      text-decoration: none;
      -webkit-box-shadow: inset 0 -1px 0 #bcc8dd, 0 1px 0 #a4b4d1, 0 2px 0 #93a6c9, 0 2px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 -1px 0 #bcc8dd, 0 1px 0 #a4b4d1, 0 2px 0 #93a6c9, 0 2px 3px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -1px 0 #bcc8dd, 0 1px 0 #a4b4d1, 0 2px 0 #93a6c9, 0 2px 3px rgba(0, 0, 0, 0.2); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000347}}
      #modallocator form a#redirectcancel:active {
        background: #a4b4d1;
        -webkit-box-shadow: inset 0 -1px 0 #93a6c9;
        -moz-box-shadow: inset 0 -1px 0 #93a6c9;
        box-shadow: inset 0 -1px 0 #93a6c9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000352}}
    #modallocator form input#subredirect {
      color: #fff;
      cursor: pointer;
      background: #bada55;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: inset 0 -1px 0 #c2df6a, 0 1px 0 #acd333, 0 2px 0 #9ec22a, 0 2px 3px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: inset 0 -1px 0 #c2df6a, 0 1px 0 #acd333, 0 2px 0 #9ec22a, 0 2px 3px rgba(0, 0, 0, 0.2);
      box-shadow: inset 0 -1px 0 #c2df6a, 0 1px 0 #acd333, 0 2px 0 #9ec22a, 0 2px 3px rgba(0, 0, 0, 0.2);
      border: none;
      padding: 5px 10px;
      font-size: 13px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000364}}
      #modallocator form input#subredirect:active {
        background: #a8cf2d;
        -webkit-box-shadow: inset 0 -1px 0 #86a524;
        -moz-box-shadow: inset 0 -1px 0 #86a524;
        box-shadow: inset 0 -1px 0 #86a524; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/joomla\/modules\/mod_iplocator\/assets\/scss\/style\.scss}line{font-family:\0000372}}
pre {
  background: #efefef;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-size: 12px;
  margin: 10px 0; }
