.icon-48-countrys {
      background-image: url(../images/l_countrys.png);
      padding-left:60px!important;
}

.icon-48-country {
      background-image: url(../images/l_countrys.png);
      padding-left:60px!important;
}

