@import "compass";

$gris: #D7DEEB;
$submit: #bada55;

#iplocator {
	p {
		margin: 0;
		padding: 0;
		text-align: center;
	}
}
#modallocator {
	position: fixed;
	background:#fff;
	z-index: 500;
	padding: 15px;
	width: 60%;
	left: 20%;
	top: 17%;
	@include box-shadow(inset 0 0 0 5px $gris, 0 0 25px 1px rgba(0,0,0,0.1));
	@include border-radius(5px);
	@include box-sizing(border-box);
	.iplocbuttom {
		text-align: center;
		margin-bottom: 0;
	}
	.clearip {
		clear: both;
	}
	form {
		margin-top: 15px;

		a#redirectcancel {
			color: #fff;
			background: darken($gris,10);
			@include border-radius(5px);
			border: none;
			cursor:pointer;
			padding: 5px 10px;
			font-size: 13px;
			text-decoration: none;
			@include box-shadow(inset 0 -1px 0 darken($gris,8), 0 1px 0 darken($gris,15), 0 2px 0 darken($gris,20), 0 2px 3px rgba(0,0,0,0.2));
			&:hover {

			}
			&:active {
				background: darken($gris,15);
				@include box-shadow(inset 0 -1px 0 darken($gris,20));
			}
		}
		input#subredirect {
			color: #fff;
			cursor:pointer;
			background: $submit;
			@include border-radius(5px);
			@include box-shadow(inset 0 -1px 0 lighten($submit,5), 0 1px 0 darken($submit,8), 0 2px 0 darken($submit,13), 0 2px 3px rgba(0,0,0,0.2));
			border: none;
			padding: 5px 10px;
			font-size: 13px;
			&:hover {
				// @include background-image();
			}
			&:active {
				background: darken($submit,10);
				@include box-shadow(inset 0 -1px 0 darken($submit,20));
			}
		}
	}

}
pre {
	background:#efefef;
	padding: 10px;
	@include border-radius(5px);
	font-size: 12px;
	margin: 10px 0;
}